RewriteEngine on

# Only rewrite if no existing file matches (disabled right now)
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d

# Rewrites for pages
# QSA Flag: merges client's querystring with the one generated
# L: Stop processing if rule is used

RewriteRule ^(.+)$ index.php?ri=$1 [L,QSA]