.fp-header {
  width: 100%;
  height: 48px;
  line-height: 48px;
  padding: 0 32px;
  background-color: #0C8F8F;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.fp-header .fp-title {
  font-size: 32px;
  color: #FFF;
  font-family: 'PT Sans Caption', sans-serif;
}
.fp-header .fp-title small {
  position: relative;
  bottom: 2px;
  font-size: 14pt;
  font-family: 'PT Sans Caption', sans-serif;
  opacity: 0.6;
}
